@import "reset";

$blackColor: #000;
$greyOneColor: rgba(0, 0, 0, 0.5);
$greyTwoColor: #666666;
$primaryColor: #00C0EE;
$border: #C7C7C7;
$textTitle: #333;

*{
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

.content{
  width: 94%;    
  margin: 0 auto;        
}
  
.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
}

.line{
  height: 1px;
  border-bottom: 1px solid $border;
}

.shirt {
  margin-top: 2.4rem;
  font-size: 3.2rem;
  color: $textTitle;
  text-align: center;
}

.buttons-menu{
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
  
  #btn-filter:hover,
  #btn-order:hover{
    cursor: pointer;
  }

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.2rem;
    padding: 0 5.2rem;
    border: 1px solid $border;
  
    h2{
      font-size: 2.4rem;
      color: $greyTwoColor
    }
  }
}

#clothing{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
  margin-top: 3.4rem;

  #product{
    text-align: center;

    h3{
      font-size: 1.4rem;
      color: $blackColor;
      padding-top: 1rem;
    }
        
    .price{
      font-size: 1.6rem;
      font-weight: 700;
      padding-top: 1rem;
    }
        
    .portion{
      font-size: 1.6rem;
      color: $greyTwoColor;
      padding-top: .1rem;
      margin-bottom: 1.4rem;
    }
        
    a{
      display: block;
      list-style: none;
      font-size: 1.4rem;
      font-weight: 500;
      background-color: $blackColor;
      color: #fff;
      text-decoration: none;
      padding: .7rem 0;
  
      transition: opacity 200ms;
    }
        
    a:hover{
      opacity: .8;
    }
  }  
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14.6rem;
    font-size: 1.4rem;
    text-transform: uppercase;
   
    height: 3.3rem;
    background-color: $blackColor;
    color: #fff;
}

// MODAIS <start>
.modal-filter-ctp, 
.modal-filter-order
{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;

  visibility: hidden;

  .title-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
  
    &:hover{
      cursor: pointer;
    }
    
    h2{
      font-size: 2.8rem;
      color: $greyTwoColor;
    }
  }
}

.modal-filter-ctp.active-modal-filter{
  visibility: visible;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal h3{
  display: flex;
  align-items: center;
  height: 7rem;

  font-size: 2.4rem;
  color: $greyTwoColor;
}

.filters{
  margin-top: 2rem;

  .shirts-op{
    margin-right: 1rem;
  }
  
  label{
    font-size: 1.4rem;
    color: $blackColor;
  }
}

// OPÇÕES FILTRO COR
#show-colors.active-rotation{
  transform: rotate(90deg);
} 

#menu-color{
  visibility: hidden;
}

#menu-color.active-filter-colors{
  visibility: visible;
}

// OPÇÕES ORDENAÇÕES

.op-orders ul li{
  margin-top: 3rem;
  font-size: 2.2rem;
  color: $blackColor;
}

#menu-order{
  visibility: hidden;
}

#menu-order.active-filter-orders{
  visibility: visible;
}

#order-recent.active-order{
  color: $primaryColor
}

// MODAIS <end>



